#menu_title_div
{
	position: absolute;
	top: 0px;
    width: 100%;
	height: 60px;
	background-color: #404d68;
}

#menu_title
{
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 25px;
	transform: translate(-50%, -50%);
	top: 46%;
	left: 50%;
}

.choice {
	min-height: 100vh;
	justify-content: center;
	box-sizing: border-box;
	padding-left: 28px;
	padding-right: 28px;
	position: absolute;
	width: 100%;
}

#choice_1{
	top:100px;
}
#choice_2{
	top:215px;
}

.choice_label{
	white-space:nowrap;
	color:#313c52;
	font-size:18px;
	position: absolute;
	transform:translate(25%,-50%);
	left:0px;
	top:0px;
}

.sprites
{
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
	box-sizing: border-box;
}